<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>dev.nekofry.mise-python-upgrade</string>

  <key>ProgramArguments</key>
  <array>
    <string>/opt/homebrew/bin/mise</string>
    <string>-C</string>
    <string>{{ .chezmoi.homeDir }}</string>
    <string>upgrade</string>
    <string>python</string>
    <string>--yes</string>
    <string>--no-prune</string>
    <string>--minimum-release-age</string>
    <string>7d</string>
  </array>

  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>{{ .chezmoi.homeDir }}</string>
    <key>PATH</key>
    <string>{{ .chezmoi.homeDir }}/.local/bin:/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>

  <key>StartCalendarInterval</key>
  <dict>
    <key>Weekday</key>
    <integer>0</integer>
    <key>Hour</key>
    <integer>10</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>

  <key>ProcessType</key>
  <string>Background</string>
  <key>LowPriorityIO</key>
  <true/>

  <key>StandardOutPath</key>
  <string>{{ .chezmoi.homeDir }}/Library/Logs/mise-python-upgrade.log</string>
  <key>StandardErrorPath</key>
  <string>{{ .chezmoi.homeDir }}/Library/Logs/mise-python-upgrade.error.log</string>
</dict>
</plist>
